<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>

    <link rel="stylesheet" href="../static/lshStyle.css">

    <script type="text/javascript" src="../static/jquery-3.5.1.js"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function(){
            var orderList = [[${orderList}]];
            console.log(orderList);
            var area = document.getElementById("order-base-area");
            var size = orderList.length;
            var i = 0;
            while(i < size){
                var ul = document.createElement("ul");
                ul.setAttribute("style","list-style-type:none");
                for(var j = 0; j < 5 && i + j < size; ++j){
                    var li = document.createElement("li");
                    li.setAttribute("class","leftLi");
                    li.setAttribute("style","padding: 10px;margin: auto;width: 250px;");
                    var ul0= document.createElement("ul");
                    var li0 = document.createElement("li");
                    var li2 = document.createElement("li");
                    var li1 = document.createElement("li");
                    var img = document.createElement("img");
                    //li1.setAttribute("class","leftLi");
                    li1.setAttribute("style","padding: 0");
                    ul0.setAttribute("style","border: 1px solid #666")
                    //var li0 = document.createElement("li");
                    //li0.setAttribute("class","leftLi");
                    li0.setAttribute("style","padding: 0;text-align: center;margin: auto;width: 250px;height: 30px");
                    li0.append(orderList[i+j]["gname"] + "*" + orderList[i+j]["num"]);
                    ul0.append(li0);
                    var a0 = document.createElement("div");
                    //a0.setAttribute("href","/buyer/searchGoodsById?id="+goodList[i+j]["id"]);
                    a0.setAttribute("style","width: 250px;height: 250px;padding: 0");
                    img.setAttribute("src","../static/images/"+orderList[i+j]["img"]+".jpg");
                    //img.setAttribute("src","../static/images/0001_1.jpg");
                    img.setAttribute("height","250");
                    img.setAttribute("width","250");
                    img.setAttribute("alt","");
                    a0.append(img);
                    li1.append(a0);
                    ul0.append(li1);
                    //li.append(ul1);
                    //var li2 = document.createElement("li");
                    li2.setAttribute("class","leftLi");
                    li2.setAttribute("style","padding: 5px;text-align: center;margin: auto;width: 250px;height: 60px");
                    li2.append(" 购买时间 : "+ new Date(orderList[i+j]["time"]));
                    ul0.append(li2);
                    //li.append(ul2);
                    var li3 = document.createElement("li");
                    li3.setAttribute("class","leftLi");
                    li3.setAttribute("style","padding: 0px;text-align: center;margin: auto;width: 250px;height: 40px");
                    li3.append(orderList[i+j]["description"]);
                    ul0.append(li3);
                    li.append(ul0);
                    ul.append(li);
                }

                area.append(ul);
                i += j;
            }


        });

    </script>

</head>
<body>


<div class="topDiv">
    <ul style="list-style-type: none">
        <li class="leftLi">
            <a href="/main" title="主页" style="width: 64px;height: 36px;padding: 0;border: none">
                <img src="../static/images/main.jpg" height="36" width="64" alt="主页"/>
            </a>
        </li>
        <li class="rightLi" >
            <a style="width: 50px;height: 28px;text-align: center" href="/logout">退出</a>
        </li>
    </ul>
</div>


<div class="myDiv" >
    <ul >
        <li th:each="item,url:${#httpSession.getAttribute('urlMap')}">
            <a style="width: 100px" th:href="${url.current.key}" th:text="${url.current.value}"></a>
        </li>
    </ul>
</div>


<div>
    <ul style="list-style-type:none;">

        <li class="leftLi">
            <div >
                <p id="msg" style="text-align: center;margin: auto;width: 1200px;"></p>
            </div>
            <div class="leftDiv" id="order-base-area">

            </div>
        </li>

    </ul>
</div>

</body>
</html>